*,
*:before,
*:after {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

.wrapper {
    position: absolute;
    top: 170px;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    padding-left: 160px;
    padding-right: 160px;
}

#image {
    width: 100%;
    max-width: 500px;
    height: auto;
    padding: 0;
    margin: 0;
}


.items {
    padding: 5px;
    margin-top: 10px;
    line-height: 150px;
    text-align: center;
}




/******* Mobile version break point ******/

@media screen and (max-width: 760px) {

    .top-nav {

        background: none;

    }

    header ul {
        background: transparent;
        width: 100vw;

    }
    .wrapper {
    padding-left: 16px;
    padding-right: 16px;
}


    #image {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 0;
    margin: 0;
}


}
