@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap');


* {

    text-align: center;
}


h1 {
    position: absolute;
    z-index: 1;
    font-size: 30px;
    color: #000;
    align-self: center;
    font-family: 'Merriweather', serif;

}

main h1 {
    grid-column: 1/-1;
}

main {
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 125px;

}

main .artworkwrapper {
    position: relative;
    height: auto;
    width: 90%;
    margin: auto;
    padding: 45px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2vh;
    grid-auto-flow: row;
    height: calc(250vh - 10px);


}


main .artworkwrapper .artwork {
    position: relative;
    height: 100%;
    width: 100%;
}

main .artworkwrapper .artwork:first-child {
    grid-column-start: span 1;
    grid-column-start: span 1;
    grid-row: 1/3;

}

main .artworkwrapper .artwork:nth-child(2) {
    grid-row: 1/5;
}

main .artworkwrapper .artwork:nth-child(3) {
    grid-row: 3/7;
}

main .artworkwrapper .artwork:nth-child(4) {
    grid-row: 5/-1;
}

main .artworkwrapper .artwork:nth-child(5) {
    grid-row: 7/-1;
}


main .artworkwrapper .artwork img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: brightness(1) grayscale(0);
}

main .artworkwrapper .artwork:hover .artwork {
    background: white;
    z-index: 10;
    position: absolute;
    /*    filter: brightness(0.5)grayscale(100);*/


}

.artwork:hover > .info {
    /*    transform: translate(0%);*/
    opacity: 1;


}

.artwork {
    display: grid;
    overflow: hidden;
    cursor: pointer;

}

.artwork > * {
    position: relative;
    width: 100%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.artwork .info {
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    display: grid;
    place-content: center;
    /*    transform: translate(100%);*/
    transition: .1s ease-in-out;
    height: 100%;
    opacity: 0;

}

/******* Mobile version break point ******/

@media screen and (max-width: 760px) {

    .top-nav {
        background: none;
    }

    .header ul {
        background: white;
        width: 100vw;

    }

    main .artworkwrapper {
        position: relative;
        height: auto;
        width: 90%;
        margin: auto;
        padding: 45px 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 2vh;
        grid-auto-flow: row;
        height: 100%;


    }


    main .artworkwrapper .artwork img {
        height: auto;

    }


    main .artworkwrapper .artwork:first-child {
        grid-row: 1/2;

    }

    main .artworkwrapper .artwork:nth-child(2) {
        grid-row: 2/3;
    }

    main .artworkwrapper .artwork:nth-child(3) {
        grid-row: 4/5;
    }

    main .artworkwrapper .artwork:nth-child(4) {
        grid-row: 6/7;
        /*    grid-row-start: span 2;*/
    }

    main .artworkwrapper .artwork:nth-child(5) {
        grid-row: 7/8;
    }

}
