




.contact {

    position: absolute;
    top:500px;
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
    flex-wrap: wrap;
}






/******* Mobile version break point ******/

@media screen and (max-width: 760px) {

    .top-nav{

  background:none;

}
    header ul{
        background: white;
        width: 100vw;

    }

}
