header {
  height: 100vh;
  width: 100%;
  /* background-image: url("/media/silentlands.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
header li a {
  background: none;
  color: white;
  margin-top: 40px;
  font-weight: 900;
}
header .logo-white {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 250px;
  z-index: 100;
}
#menu {
  z-index: 100;
  position: absolute;
  right: 20px;
}
header .navigation {
  position: absolute;
  right: 50px;
  top: 40vh;
  height: 30vh;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-flow: column;
  z-index: 100;
}

header .navigation i {
  color: white;
  font-size: 1.8em;
  cursor: pointer;
}
header .current-bg {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;

  /* z-index: 10; */
  filter: brightness(0.9);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

header .current-bg.transparent {
  opacity: 0;
}
