* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}


/*************Footer************/
footer {

    background-color: #695559;
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}

footer a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
}

footer nav {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

footer .social {
    display: flex;
    flex-flow: column;
}

/**********************************/
header {
    display: flex;
    width: 100%;
    justify-content:flex-end;

}
/*

.lo {
    background-image: url(../logoOrigi.png);
    background-repeat: no-repeat;
    width: 400px;
    height: 50px;
    margin: 0px;
}

header > .lo-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-left: 7%;

}
*/

/******  TopNavigation ****/
.top-nav{
    position: absolute;
    z-index: 99999;
}

header ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 0px;
    padding: 0;
    overflow: hidden;
    font-size: 15px;


}

header ul li {
    display: list-item;
    list-style: none;
    padding: 2px;
    margin: 0 1px;
}


header ul li a.active {
    font-weight: 900;

}


header li a {
    display: block;
    min-width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: black;
    text-decoration: none;
}


header li:hover a {
    color: gray;
}

header li:hover ul li a {
    height: 25px;
    line-height: 20px;
    text-align: center;
}

header li:hover ul li a:hover {
    color: black;
}

header li ul {
    display: none;
}


header li ul li a {
    min-width: 100px;
    padding: 0px;
}


header ul li a:hover + .hidden,
.hidden:hover {
    display: block;
    position: fixed;
    z-index: 9999;
}

header input[type=checkbox] {
    display: none;
}

header input[type=checkbox]:checked ~ #menu {
    display: block;
}

#menu{
        margin-left: 50px;

}

header .show-menu {

    text-decoration: none;
    color: black;
    text-align: right;
    font-size: 15px;
    padding: 1rem;
    display: none;
    transition: color 1s;
}

header label:hover {
    color: darkgray;
}

/***********************************/

/******* Top Navigation break ******/

@media screen and (max-width: 760px) {
    header ul {
        position: static;
        display: none;
    }

    header li {
        margin-bottom: 1px;
    }

    header ul li,
    header li a {
        width: 100%;
        text-align: right;
   padding-right: 10px;
    }

    header .show-menu {
        display: block;
    }

    header li:hover ul li a {
        text-align: right;
    }

    header ul li a:hover + .hidden,
    .hidden:hover {
        display: block;
        position: sticky;

    }


}

/**************************************/
