*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family:  Montserrat, "Helvetica Neue", sans-serif;
}

footer{

    background-color: #695559;
    color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
}
footer a{
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
footer nav{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
footer .social{
    display: flex;
    flex-flow: column;
}
